*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Hind Madurai', sans-serif;
	text-decoration: none;
}

body{
	margin-bottom: 100px;
}

header{
	width: 100%;
	padding: 20px;
	background-color: #02020A;
	display: flex;
	justify-content: space-between; /*Aqui define como será distribuído
	Space-between: Cria um espaço entre eles
	Space-around: Cria espaço ao redor deles*/
	align-items: center;
	flex-wrap: wrap;
}

.logo a{
	font-family: 'Poiret One', cursive;
	font-size: 60px;
	color: #FF7F11;
}

.menu{
	list-style: none;
	display: flex;
}

.menu li{
	margin-left: 10px;
}

.menu a{
	font-size: 20px;
	color: #E2E8CE;
	display: block;
	padding: 10px;
}

h1{
	text-align: center;
	margin: 100px 0 50px 0;
}

img{
	display: block;
	max-width: 100%;
}

/* CSS GRID 2 */

.grid2{
	display: grid;
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
	grid-template-columns: 1fr 200px;
	gap: 20px;
	text-align: center;
	font-style: italic;
}

aside > div{
	margin-bottom: 10px;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 800px){
	
	
	.grid2{
		/*grid-template-columns: 1fr 20%; Transforma em mini-videos laterais*/
		grid-template-columns: 1fr;
	}
	
	aside{
		display: flex;
		overflow-x: scroll;
	}

	aside > div{
		flex: 1 0 150px;
		margin: 0 10px;
	}
}