*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Hind Madurai', sans-serif;
	text-decoration: none;
}

body{
	margin-bottom: 100px;
}

header{
	width: 100%;
	padding: 20px;
	background-color: #02020A;
	display: flex;
	justify-content: space-between; /*Aqui define como será distribuído
	Space-between: Cria um espaço entre eles
	Space-around: Cria espaço ao redor deles*/
	align-items: center;
	flex-wrap: wrap;
}

.logo a{
	font-family: 'Poiret One', cursive;
	font-size: 60px;
	color: #FF7F11;
}

.menu{
	list-style: none;
	display: flex;
}

.menu li{
	margin-left: 10px;
}

.menu a{
	font-size: 20px;
	color: #E2E8CE;
	display: block;
	padding: 10px;
}

h1{
	text-align: center;
	margin: 100px 0 50px 0;
}

img{
	display: block;
	max-width: 100%;
}

/* CSS GRID 1 */

.grid{
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /*Quantas colunas e seu tamanho*/
	/*grid-template-columns: repeat(3, 1fr); também funciona*/
	gap: 20px; /*O espaçamento entre os itens, funciona como margin*/
}

.grid > div:nth-child(n + 4){
	display: grid;
	grid-template-columns: 1fr 1fr; /*Dividi a imagem e a legenda em 2 colunas*/
	gap: 10px;
	align-items: center;
}

.grid > div.anuncio{
	grid-column: 1; /*Quero que o anuncio esteja na coluna 1*/
	grid-row: 2 / 5; /*Quero que o anuncio esteja entre as linhas 2 e 5 (a legenda conta como linha)*/
	display: block;
	text-align: center;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 700px){

	.grid{
		grid-template-columns: 1fr 1fr;
	}

	.grid > div:nth-child(n + 4){
		display: block; /*O display block tira todas as propriedades do display flex*/
	}

	.grid > div{
		order: 2;
	}

	.grid > div.anuncio{
		grid-column: auto; /* Reseta a posição no grid */
		grid-row: auto;
		order: 1; /*Deixei o anuncio como destaque*/
	}
}